@media screen and (max-width: 768px) {
  .auth-wrapper {
    padding-top: 0;
    align-items: flex-start;
    gap: 0;
  }

  .auth-card {
    width: 100%;
    min-height: auto;
    padding: 4%;
    border: none;

    img {
      margin-left: 0;
    }
  }

  .auth-card__qr-button {
    display: none;
  }

  .auth-link {
    padding-left: 4%;
  }

  .auth-links {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 9px;

    a {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 445px) {
  .login-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 95%;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding: 0 10px;
  }

  .login-footer span,
  .login-footer button,
  .login-footer a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: #b7bdc6;
    margin: 0 2px;
    font-family: "BinancePlex";
    font-size: 14px;
    cursor: pointer;
  }
}