.main>.orders-reload {
  display: none;
}

.order-filters-mobile {
  display: none;
}

.order-filters-mobile_fu {
  display: none;
}

.order-filters-mobile-tr {
  display: none;
}

#position__detail-closed {
  display: none;
}

@media (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .order-tab {
    padding: 0px;
    border: none;
    border-radius: 8px;
    display: flex;
  }

  .order-tab button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 4px;
    height: 28px;
    min-width: 70px;
    border-radius: 8px;
    color: var(--color-textThird);
    transition: all 0.25s;
  }

  .order-filters-mobile_fu {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-filters-mobile-tr {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main>.orders-reload {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  .sidebar-selected {
    background: #000;
  }

  .order-filters {
    display: none;
  }

  .order-filters-mobile {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 24px 0;
  }

  .order-filters_modal>.close-modal {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e8eaed;
    margin: 0px 0 20px 0px;
  }

  .position__detail {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #position__detail-closed {
    display: block;
  }

  #position__detail-closed span {
    font-size: 14px;
    line-height: 22px;
    color: #4f5867;
  }

  .position__status {
    display: none;
  }

  .position__detail .label {
    font-size: 14px !important;
    color: #bcbdc1;
    line-height: 22px;
    font-weight: normal;
  }

  .position__type {
    font-size: 14px;
    line-height: 22px;
    color: #4f5867;
  }

  .main {
    width: 100%;
    padding: 0 8px !important;
    min-height: calc(100vh - 270px);
  }

  /* .position__details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  } */

  .position__details {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  .position__detail-tooltip-text--arrow {
    height: 6px;
    position: absolute;
    width: 6px;
    transition-duration: 250ms;
    transition-property: opacity, visibility;
    transition-timing-function: ease-in-out;
    opacity: 0;
    z-index: -1;
    background: linear-gradient(-45deg,
        transparent 0,
        transparent 50%,
        var(--color-textPrimary) 50%,
        var(--color-textPrimary) 100%);
    transform: translateX(-50%) rotate(-115deg);
    bottom: 27px;
    left: 100px !important;
  }

  .analysis-modal__info-value {
    color: white;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
  }

  .position-list {
    margin-left: 0px;
  }

  .position-list {
    margin-left: 0px;
    min-height: 255px;
    max-height: 520px;
    overflow-y: auto;
  }

  .position-list::-webkit-scrollbar {
    width: 2px;
  }

  .order-filters_modal>.close-modal p {
    font-size: 17px;
  }

  .calendar {
    margin-top: 8px;
  }

  .order-search-box {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
  }

  .order-select-str {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .order-select-str>button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .order-filters_modal .close-modal svg {
    fill: #e8eaed;
    width: 24px;
    height: 24px;
  }

  .order-filters_modal .close-modal:hover svg {
    fill: #fcd535;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  .order-filters_modal>p {
    font-size: 13px;
    color: #bfc5cc;
    margin-top: 17px;
  }

  .order-select__order {
    box-sizing: border-box;
    display: inline-flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 0 13px;
    height: 38px;
    border: 0.5px solid rgba(128, 128, 128, 0.368);
    border-radius: 8px;
    color: #e8eaedbe;
    font-size: 15px;
    font-weight: 500;
  }

  .order-select__list-wrapper-box {
    display: none;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.25s;
    top: 10px;
    width: 100%;
    border-radius: 12px;
    box-shadow: -2px 0px 14px rgba(0, 0, 0, 0.28),
      0px 0px 6px rgba(0, 0, 0, 0.08);
  }

  .order-select__list-wrapper-box.active {
    display: block;
    z-index: 922 !important;
    transition: 0.25s;
    top: 10px;
    opacity: 1;
    width: 100%;
    border-radius: 12px;
    background: #3e3e3e36 !important;
    box-shadow: 0px 0px 14px #00000022;
  }

  .order-select__option {}

  .order-select__label {
    box-sizing: border-box;
    display: inline-flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 0 13px;
    height: 40px;
    background: #4c637d23;
    border-radius: 8px;
    border: none !important;
    color: #e8eaed;
    font-size: 15px;
    font-weight: 500;
    width: 100% !important;
  }

  .order-filters_modal .calendar__preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    width: 100%;
    height: 40px;
    border: 1px solid #474d57;
    background-color: transparent;
    border-radius: 8px;
    outline: none;
    color: var(--color-textPrimary);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }

  .order-select__label>div {
    width: 100% !important;
    display: flex;
    justify-content: end;
  }

  .order-select__list {
    display: flex;
    flex-direction: column;
    max-height: 228px;
    overflow-y: hidden;
    padding: 4px 10px 4px 0;
    left: 0;
  }

  .order-filters_modal {
    display: none;
    position: fixed;
    bottom: 0 !important;
    right: 0;
    width: 100%;
    height: 93vh !important;
    background-color: #1a2634;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000 !important;
    padding: 5px 20px 20px 20px;
    border-radius: 15px 15px 0 0;
    transform: translateY(100%);
    opacity: 0;
    transition: none;
  }

  .order-filters_modal.active {
    display: block;
    animation: slideUp 0.3s ease forwards;
  }

  .order-filters_modal.closing {
    animation: slideDown 0.3s ease forwards;
  }

  .order-select {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .order-select__label {
    box-sizing: border-box;
    display: inline-flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 0 13px;
    width: auto;
    height: 40px;
    border: 1px solid #2b3139;
    border-radius: 8px;
    color: #e8eaed;
    font-size: 15px;
    font-weight: 500;
  }

  .order-select__label.selected {
    border: 1px solid #ffffff;
    /* Active button border color */
  }

  .order-select__label.active {
    border: 1px solid #ffffff;
    /* Example background change when active */
  }

  .flatpickr-calendar {
    max-width: 90%;
    max-height: 250px;
    margin-left: 15px;

    padding: 8px !important;
  }

  .order-search-button {
    border-radius: 8px;
    padding: 0 12px;
    flex: 1;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    background-color: var(--color-BtnBg);
  }

  .reset-selects {
    color: var(--color-textPrimary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    flex: 1;
    font-size: 14px;
    background-color: #2e4661;
    height: 36px;
  }

  .orders-reload {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-textPrimary);
  }

  /* ========================= */

  .analysis-modal {
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    width: 100%;
    height: 100vh;
    min-height: 400px;
    border-radius: 0px;
    box-shadow: rgba(20, 21, 26, 0.16) 0px 8px 16px,
      rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
    background-color: rgb(30, 35, 41);
    z-index: 70;
    padding: 20px 14px;
  }

  .analysis-modal__text {
    display: none;
  }

  .analysis-modal__buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    right: 0;
  }

  .analysis-modal__buttons button {
    width: 45%;
  }

  .analysis-modal__info-label {
    color: #b7bdc6;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
  }

  .analysis-modal__info-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .analysis-modal__info {
    background-color: #0b0e11;
    padding: 10px;
    margin: 0;
  }

  .analysis-modal__info-columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    gap: 15px;
  }

  .analysis-modal__info-column>div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .analysis-modal__info-column:not(:first-child) {
    border-left: 1px solid #474d5700;
    padding-left: 0px;
  }

  /* ===2 */
  .export-modal {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: auto;
    height: 100vh;
    border-radius: 6px;
    box-shadow: rgba(20, 21, 26, 0.16) 0px 8px 16px,
      rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
    background-color: rgb(30, 35, 41);
    z-index: 70;
  }

  .export-modal__checkmark {
    width: 160px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--color-textPrimary);
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .export-modal__buttons {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 95%;
    padding: 0;
  }

  .export-modal__buttons button {
    width: 47%;
  }
}