.main_overview {

  width: 100%;
  padding: 30px 55px;
}

@media screen and (max-width: 768px) {


  .main_overview {
    width: 100%;
    padding: 0 17px;
  }

  .hide-balance-button {
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-left: 2px;
  }

  .balance {
    margin-top: 24px;
    height: 390px;
    padding-bottom: 0 !important;
    justify-content: flex-start;
  }

  div.section.balance.expand {
    height: 270px !important;
    margin-bottom: 100px;

    .wallet-balance-preview-chart-container {
      display: none;
    }

    .wallet-balance-chart-container,
    #wallet-balance-chart {
      display: none !important;
    }
  }

  .transaction-body tr:hover {
    background: transparent !important;
  }

  div.section.balance.expanded {
    height: 300px !important;

    .wallet-balance-chart-container,
    #wallet-balance-chart {
      display: block !important;
      height: 160px !important;
    }

    .chart-filter-buttons {
      left: 0;
      top: 190px !important;
    }

    .wallet-balance-chart-container {
      position: absolute !important;
      top: 200px;
      width: 100% !important;
      height: 160px !important;
    }

    .wallet-balance-chart__labels {
      top: 137px !important;
    }


  }

  .tab-nav {
    padding-left: 0px;
    background: #565446;
    background: #181a1f;
  }



  .chart-filter-buttons {
    left: 0;
    top: 170px !important;
  }

  .wallet-balance-chart-container {
    position: absolute !important;
    top: 180px;
    width: 100% !important;
  }

  .wallet-balance-chart__labels {
    top: 134px !important;
    bottom: auto !important;
    width: 97% !important;
  }

  .balance__expand-button {
    display: none !important;
  }
}

@media screen and (max-width: 567px) {
  .wallet-balance-chart__labels {
    width: 95% !important;
  }
}

@media screen and (max-width: 768px) {
  .transaction-history__table {
    thead {
      display: none;
    }

    tbody {
      tr {
        position: relative;
        display: flex;
        justify-content: space-between;

        td {
          color: #999;
          font-size: 16px;
          position: absolute;
          width: auto;

          svg {
            color: #fff;
            position: absolute;
            top: 10px;
            left: -33px;
          }

          &:nth-child(1) {
            top: 10px;
            left: 43px;
          }

          &:nth-child(3) {
            top: 35px;
            left: 43px;
            text-wrap: no-wrap;
            white-space: nowrap;
            font-size: 14px;
            color: #848e9c;
          }

          &:nth-child(2) {
            top: 10px;
            right: 0;
            text-wrap: no-wrap;
            white-space: nowrap;
            text-align: right;
            padding: 0 10px;
            color: #eaecef;
            padding-right: 0;
            font-size: 16px;
          }

          &:nth-child(4) {
            top: 35px;
            right: 0;
            text-wrap: no-wrap;
            white-space: nowrap;
            text-align: right;
            padding: 0 10px;
            padding-right: 0;
            font-size: 14px;
            color: #848e9c;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .transaction-history__table {
    tbody {
      tr {
        td {
          &:nth-child(1) {
            padding-right: 0;
          }

          &:nth-child(2) {
            padding-right: 0;
          }

          &:nth-child(2) {
            top: 10px;
            right: 0;
            text-wrap: nowrap;
            white-space: nowrap;
            text-align: right;
            padding: 0 10px;
            padding-right: 0;
          }

          &:nth-child(4) {
            top: 35px;
            right: 20px;
            text-wrap: nowrap;
            white-space: nowrap;
            font-size: 16px;
            text-align: right;
            padding: 0 10px;
            z-index: 50;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .transaction-history__table {
    tbody {
      tr {
        td {
          &:nth-child(4) {
            top: 35px;
            right: 10px;
            text-wrap: nowrap;
            white-space: nowrap;
            font-size: 16px;
            text-align: right;
            padding: 0 10px;
            z-index: 50;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .transaction-history__table {
    tbody {
      tr {
        td {
          &:nth-child(4) {
            top: 35px;
            right: 15px;
            text-wrap: nowrap;
            white-space: nowrap;
            font-size: 16px;
            text-align: right;
            padding: 0 10px;
            z-index: 50;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .transaction-history__table {
    tbody {
      tr {
        position: relative !important;

        td {
          &:first-child {
            width: 160px;
          }

          /* &:nth-child(4) {
            left: 80%;
            padding: 0;
            background: red;
          } */
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .transaction-history__head {
    h2 {
      font-size: 18px;
      text-wrap: nowrap;
      white-space: nowrap;
    }
  }

  .transaction-history__table {
    tbody {
      tr {
        td {
          font-size: 13px;
          text-wrap: nowrap;
        }
      }
    }
  }
}