@media screen and (max-width: 768px) {
  .position__header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    gap: 5px;
  }

  .position__icon {
    width: 21px;
    height: 21px;
    margin-right: 5px;
  }
}