.picker {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    user-select: none;
}

.picker-column {
    width: 24%;
    position: relative;
    margin: 0 10px;
    overflow-y: scroll;
    height: 170px;
    scroll-behavior: smooth;
    border-radius: 4px;
    padding: 5px;
    background-color: transparent;
    color: #e0e0e0;
    z-index: 5;

}

.picker-column:last-child {
    margin-bottom: 20px;
}

.picker::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    pointer-events: none;
    bottom: 19px;
    background: linear-gradient(to top, #1A2634, transparent);
    z-index: 100;
}

.picker::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 95px;
    pointer-events: none;
    top: 0;
    background: linear-gradient(to bottom, #1A2634, transparent);
    z-index: 100;
}


.picker-column::-webkit-scrollbar {
    width: 0;
}

.itemPicker {
    padding: 10px 5px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.empty-item {
    padding: 26.7px;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.itemPicker:hover {

    color: #fff;
    border-radius: 4px;
}

.itemPicker.active {

    color: white;
    transform: scale(1.1);
}

#selected-date {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

.btn_pic {
    margin: 10px 0;
    padding: 8px 0px;
    width: 50%;
    font-size: 1rem;
    color: #fff;
    background: #29313e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ffffff00;
    display: flex;
    justify-content: center;
}


.box-po {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 10px #ff440000;
}

.box-po>p {
    color: #ffffff6c;
}

.box-po button {
    border: 1px solid #007bff00;
    background: #29313e;
    border-radius: 6px;
}

.box-po .btn_pic.active {
    border: 1px solid #ffffff93;
    color: #fff;
}

.line-picer {
    position: absolute;
    width: 100%;
    height: 40px;
    border-bottom: #9c9c9c4f .5px solid;
    border-top: #9c9c9c4f .5px solid;
    z-index: 1;
    top: 33.5%;
}

.itemPicker.selected {
    color: #fff;
}

.itemPicker.today {
    color: #fff;
    padding-top: 19px;
}

.itemPicker.years {
    padding-bottom: 17px;
}

/* ==================== */
.order-search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    position: absolute;
    bottom: 0;
    width: 92%;
}

.order-search-box button:last-child {
    background: #ffbf1c;
    color: #29313e;
}

.order-search-box button {
    border: 1px solid #007bff00;
    background: #29313e;
    border-radius: 6px;
    font-size: 16px;
    color: #e0e0e0;
    padding: 10px;
    width: 50%;
}