@font-face {
  font-family: "Binance PLEX";
  src: url(../fonts/Binance\ PLEX.ttf);
}

.share_modal_wrapper * {
  font-family: "BinancePlex", "Arial", sans-serif;
}

.share_modal_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #14151080;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
}

.share-modal {
  position: absolute;
  top: 50vh;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  width: 520px;
  min-height: 400px;
  box-shadow: #14151a29 0px 8px 16px, #474d5729 0px 16px 32px,
    #14151a1a 0px 0px 1px;
  background-color: #1e2329;
  z-index: 70;
}

.share-modal.show {
  display: block;
}

.share_modal_close {
  position: absolute;
  top: 0;
  right: -35px;
  font-size: 22px;
  cursor: pointer;
}

.share-modal__main {
  position: relative;
  margin: 20px 20px 22px 20px;
  min-height: 480px;
  padding: 40px 30px 30px;
  background-image: url("../assets/rek.jpg");
}

.share-modal__mode {
  margin-bottom: 24px;
}

.share-modal__mode svg {
  width: 82px;
}

.share-modal__mode-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 20px;
  color: #fff;
}

.share-modal__pnl-box {
  display: flex;
  flex-direction: column;
}

.share-modal__pnl-title {
  color: #848e9c;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-wrap: nowrap;
}

.share-modal__pnl {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  color: #fff;
}

.share-modal__more-info {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}

.share-modal__checkbox-box {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}

.share-modal__checkbox-box .checkbox {
  font-weight: 400;
  font-size: 14px;
  /* line-height: 20px; */
  color: #5e6673;
}

.share-modal__checkbox-box .checkbox svg {
  color: transparent;
}

.share-modal__checkbox-box .checkbox.active .checkbox-icon {
  background-color: #f0b90b;
  border-color: #f0b90b;
  height: 20px;
  width: 20px;
  display: grid;
  place-items: center;
  border: 0.5px solid #f0b90b;
  overflow: hidden;
  border-radius: 3px;
}

.share-modal__checkbox-box .checkbox.checkbox.active svg {
  color: #fff;
}

#profitability-ratio-checkbox svg,
#pnl-checkbox svg {
  width: 20px;
  height: 20px;
  border: 0.5px solid #f0b90b;
  border-radius: 3px;
}

.share-modal__more-info-item {
  display: none;
  flex-direction: column;
}

.share-modal__more-info-item.active {
  display: flex;
}

.share-modal__more-info-data {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
}

.share-modal__title {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 4px;
  color: #fff;
}

.share-modal__period {
  margin: 0px 0px 30px;
  font-size: 12px;
  line-height: 16px;
  color: rgb(132, 142, 156);
}

.share-modal__referral {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.share-modal__referral-qr {
  width: 100px;
  height: 100px;
  padding: 6.5px;
  background-color: #181a20;
}

.share-modal__referral-qr img {
  width: 100%;
  height: 100%;
}

.share-modal__referral #referral-code {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.share-modal__bottom {
  padding: 12px 24px 16px;
  background-color: rgb(24, 26, 32);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.share-modal__download-button {
  border-radius: 25px;
  border: 1px solid #474d57;
  height: 50px;
  margin-bottom: 4px;
  width: 100%;
  background-color: transparent;
}

.share-modal__download-button svg {
  width: 24px;
  height: 24px;
}

.custom_checkbox {
  display: flex;
  align-items: center;
}

.custom_checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  display: none;
  cursor: pointer;
}

.custom_checkbox label {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 20px; */
  color: #5e6673;

  /* margin-top: 9px; */
}

.custom_checkbox p {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 20px; */
  color: #5e6673;

  /* margin-top: 9px; */
}

.custom_checkbox label:before {
  content: "";
  background-color: transparent;
  border: 1px solid #5e6673;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 3px;
  transition: background-color 0.3s ease-in-out;
}

.custom_checkbox input:checked+label::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 14px;
  border: solid #000000;
  border-width: 0 3px 3px 0 !important;
  transform: rotate(40deg);
}

.custom_checkbox input:checked+label::before {
  content: "";
  background-color: #f0b90b;
  border-color: #f0b90b;
}