/* .profit-loss-analysis {
    display: flex;
    border-radius: 8px;
    gap: 5%;
}

.analysis-item {
    flex: 1;
    color: #fff;
    font-family: "Binance PLEX";
}

.analysis-item>.values {
    display: flex;
    justify-content: space-between;
}*/

.tooltip-main {
    position: relative;
    cursor: pointer;

}

.tooltip {
    visibility: hidden;
    opacity: 0;
    color: #6e6e6e;
    background-color: #fff;
    text-align: start;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 18px;
    max-width: 300px;
    min-width: 220px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-size: 12.6px !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.233);
}

/* Tooltip arrow pointing downward */
.tooltip::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #ffffff;
    z-index: 8;
}