.calendar {
  box-sizing: border-box;

  &__preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 240px;
    height: 40px;
    border: 1px solid #474d57;
    background-color: transparent;
    border-radius: 8px;
    outline: none;

    &:hover {
      border-color: var(--color-BtnBg);
    }

    color: var(--color-textPrimary);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;

    svg {
      width: 20px;
      height: 20px;
    }

    &.disable {
      pointer-events: none;
      border: none !important;
      background-color: #2b3139;
      color: #5e6673;
    }
  }
}

.range-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/calendar-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.calendar-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/calendar-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.flatpickr-calendar {
  background-color: #1e2329 !important;
  color: #fff;
  border: 0;
  box-shadow: -2px 0px 14px rgba(0, 0, 0, 0.28), 0px 0px 6px rgba(0, 0, 0, 0.08) !important;
  -webkit-box-shadow: -2px 0px 14px rgba(0, 0, 0, 0.28),
    0px 0px 6px rgba(0, 0, 0, 0.08) !important;
}

.flatpickr-months {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.flatpickr-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff !important;
}

.flatpickr-monthDropdown-months,
.flatpickr-current-month input {
  display: none;
}

.flatpickr-current-month {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
  color: #eaecef;
}

.flatpickr-prev-year,
.flatpickr-next-year {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  cursor: pointer;
  color: #ffcc00;
}

.flatpickr-prev-year {
  left: 5px;
}

.flatpickr-next-year {
  right: 5px;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  cursor: pointer;
  background-image: url("../img/icons/calendar-prev-arrow.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.flatpickr-next-month {
  transform: rotate(180deg);
}

.flatpickr-day {
  color: #5e6673 !important;
  background: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  height: 32px !important;
  max-width: 32px !important;
  outline: none;
  border-radius: 0;
}

.flatpickr-day:hover {
  background-color: #ffcc00 !important;
  color: #202630;
  border: 0 !important;
  border-radius: 6px 0 0 6px !important;
}

.flatpickr-day.selected {
  background-color: #ffcc00 !important;
  color: #000 !important;
  border: 0 !important;
}

.flatpickr-day.today {
  border-color: #f0b90b !important;
  border-radius: 6px;
}

.flatpickr-day.today:hover {
  background: rgba(240, 185, 11, 0.1) !important;
  color: #f0b90b !important;
  border-color: #f0b90b !important;
}

.flatpickr-day.hidden {
  visibility: visible !important;
}

.numInputWrapper span.arrowUp {
  display: none;
}

.numInputWrapper span.arrowDown {
  display: none;
}

.flatpickr-current-month input.cur-year {
  pointer-events: none;
}

.flatpickr-weekdaycontainer {
  justify-content: space-between;
}

.dayContainer,
.flatpickr-weekdays .flatpickr-weekdaycontainer {
  justify-content: flex-start !important;
  width: 224px !important;
  min-width: 224px !important;
}

.flatpickr-weekday {
  color: #5e6673 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 32px !important;
  max-width: 32px !important;
}

.flatpickr-current-month span.cur-month {
  font-weight: 400 !important;
}

.flatpickr-calendar.arrowTop:before {
  display: none;
}

.flatpickr-calendar.arrowTop:after {
  display: none;
}

.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
  border-radius: 6px 0 0 6px !important;
}

.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
  border-radius: 0 6px 6px 0 !important;
}

.flatpickr-day.inRange {
  background-color: #2d2a20 !important;
  color: var(--color-textPrimary) !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.flatpickr-calendar {
  padding: 18px 32px !important;
  width: fit-content !important;
  border-radius: 16px;

  &.open {
    top: 208px !important;
  }
}

.dayContainer+.dayContainer {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.flatpickr-weekdays,
.flatpickr-days {
  gap: 24px;
  overflow: visible !important;
}

.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n + 1)) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}