.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 500;
  color: var(--color-textPrimary);
  cursor: pointer;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--color-textThird);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: var(--color-bg1);
  background-color: var(--color-bg1);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='bg1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='bn-svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.035 16.812l-.001.002 2.121 2.121.002-.002 2.121-2.12 9.19-9.192-2.12-2.121-9.191 9.19-3.536-3.534-2.121 2.12 3.535 3.536z' fill='currentColor'%3e%3c/path%3e%3c/svg%3e");
  background-size: contain;
}

body.white {
  .custom-checkbox+label {
    color: var(--color-TextOnYellow);
  }
  
  .custom-checkbox:checked+label::before {
    border-color: var(--color-bg);
    background-color: var(--color-bg);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-size: 60%;
  }
}