:root {
  --color-bg: #181a20;
  --color-bg1: #ffffff;
  --color-textPrimary: #eaecef;
  --color-textBrand: #f0b90b;
  --color-BtnBg: #fcd535;
  --color-Line: #2b3139;
  --color-TextOnYellow: #202630;
  --color-DisabledText: #b7bdc6;
  --color-textPrimaryDay: #1e2329;
  --color-line: #eaecef;
  --color-popupBg: #1e2329;
  --color-textDisabled: #5e6673;
  --color-iconNormal: #848e9c;
  --color-TertiaryText: #848e9c;
  --color-textThird: #848e9c;
  --color-CardBg: #1e2329;
  --color-disable: #474d57;
  --color-textBlack: #0b0e11;
  --color-textBuy: #0ecb81;
  --color-textSell: #f6465d;
  --color-Input: #2b3139;
  --color-bg3: #f5f5f5;
  --color-bg4: #2b3139;
}