@font-face {
  font-family: "BinancePlex";
  src: url("../fonts/BinancePlex-Medium.eot");
  src: local("BinancePlex"), local("Binance-PLEX"),
    url("../fonts/BinancePlex-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BinancePlex-Medium.woff") format("woff"),
    url("../fonts/BinancePlex-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BinancePlex";
  src: url("../fonts/Binance PLEX.eot");
  src: local("BinancePlex"), local("Binance-PLEX"),
    url("../fonts/Binance PLEX.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Binance PLEX.woff") format("woff"),
    url("../fonts/Binance PLEX.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}