.footer {
  width: 100%;
  padding: 64px 24px;
  box-sizing: border-box;

  &-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 24px;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
  }

  &-copyright {
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 64px auto 0;
    position: relative;
    color: var(--color-DisabledText);

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: -20px;
      left: 0;
      background-color: var(--color-Line);
    }

    span {
      margin-right: 24px;
    }
  }

  &-title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &-cookies {
    background-color: transparent;
    cursor: pointer;
    color: var(--color-DisabledText);
    font-size: 0.875rem;
    line-height: 0.875rem;
  }

  &-icongroup {
    display: grid;
    grid-template-columns: repeat(4, 24px);
    grid-gap: 24px;
    margin-bottom: 48px;
  }

  &-social,
  &-icon {
    fill: var(--color-textPrimary);
  }

  &-link {
    width: 24px;
    height: 31px;

    &:hover {
      opacity: 0.8;
    }
  }

  &-check {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 0.875rem;

    &:hover .footer-drop {
      display: block;
    }
    margin-bottom: 16px;
  }

  &-select {
    font-size: 0.875rem;
    height: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: var(--color-textBrand);
    }

    svg {
      margin-right: 8px;
    }
  }

  &-drop {
    display: none;
    width: 200px;
    background-color: var(--color-CardBg);
    border-radius: 8px;
    position: absolute;
    bottom: 28px;
    left: -8px;
    padding: 16px;
    z-index: 45;
  }

  &-input {
    display: block;
    width: calc(100% - 24px);
    background-color: transparent;
    padding: 9px 12px;
    border: 1px solid #474d57;
    border-radius: 8px;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-family: "BinancePlex", "Arial", sans-serif;
    color: var(--color-textPrimary);
    caret-color: var(--color-textBrand);
    margin-bottom: 16px;

    &::placeholder {
      color: var(--color-TertiaryText);
      font-size: 0.875rem;
      line-height: 0.875rem;
    }

    &:focus {
      border-color: var(--color-textBrand);
      outline: transparent;
    }
  }

  .half-list {
    height: 286px;
    overflow-y: auto;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.375rem;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-CardBg);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #5e6673;
      border-radius: 15px;
      border: 3px solid #5e6673;
    }
  }

  .half-item {
    margin-bottom: 16px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .half-link {
    span {
      color: var(--color-textPrimary);
    }

    .currency-title {
      text-transform: uppercase;
      color: var(--color-textPrimary);
    }
  }

  .half-link:hover {
    color: var(--color-textBrand);

    span {
      color: var(--color-textBrand);
    }
  }

  .half-link.active {
    color: var(--color-textBrand);

    span {
      color: var(--color-textBrand);
    }
  }

  &-navlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    .footer-list.mb {
      margin-bottom: 40px;
    }

    .footer-item {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5rem;

      &:hover {
        color: var(--color-textBrand);
      }
    }
  }

  &-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-left: 8px;
    position: relative;
    background-color: var(--color-disable);
    border-radius: 8px;
    cursor: pointer;

    &::before {
      display: block;
      content: "";
      width: 18px;
      height: 18px;
      background-color: var(--color-bg1);
      border-radius: 6px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5034 21.284C6.55195 21.284 2.14764 17.7674 2.00345 11.8176C1.88165 6.79241 5.00066 2.86828 9.50344 2C9.50344 2 9.2438 9.48374 12.5034 11.8176C15.35 13.8557 21.4507 12.3751 21.4507 12.3751C20.9642 17.0094 17.1692 21.284 12.5034 21.284Z' fill='black' stroke='black'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 2px;
      right: 2px;
    }

    &.active::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 12.5C7 14.9853 9.01472 17 11.5 17C13.9853 17 16 14.9853 16 12.5C16 10.0147 13.9853 8 11.5 8C9.01472 8 7 10.0147 7 12.5Z' fill='black'/%3e%3cpath d='M4 14V11H1V14H4Z' fill='black'/%3e%3cpath d='M6.5 6L5 7.5L3 6L5 4L6.5 6Z' fill='black'/%3e%3cpath d='M13 4.5H10V2H13V4.5Z' fill='black'/%3e%3cpath d='M18 4L16.5 6L18 7.5L20 6L18 4Z' fill='black'/%3e%3cpath d='M22 11H19V14H22V11Z' fill='black'/%3e%3cpath d='M20 19L18 17.5L16.5 19L18 21L20 19Z' fill='black'/%3e%3cpath d='M10 20.5H13V23H10V20.5Z' fill='black'/%3e%3cpath d='M5 21L6.5 19L5 17.5L3 18.5L5 21Z' fill='black'/%3e%3cpath d='M7 12.5C7 14.9853 9.01472 17 11.5 17C13.9853 17 16 14.9853 16 12.5C16 10.0147 13.9853 8 11.5 8C9.01472 8 7 10.0147 7 12.5Z' stroke='black'/%3e%3cpath d='M4 14V11H1V14H4Z' stroke='black'/%3e%3cpath d='M6.5 6L5 7.5L3 6L5 4L6.5 6Z' stroke='black'/%3e%3cpath d='M13 4.5H10V2H13V4.5Z' stroke='black'/%3e%3cpath d='M18 4L16.5 6L18 7.5L20 6L18 4Z' stroke='black'/%3e%3cpath d='M22 11H19V14H22V11Z' stroke='black'/%3e%3cpath d='M20 19L18 17.5L16.5 19L18 21L20 19Z' stroke='black'/%3e%3cpath d='M10 20.5H13V23H10V20.5Z' stroke='black'/%3e%3cpath d='M5 21L6.5 19L5 17.5L3 18.5L5 21Z' stroke='black'/%3e%3c/svg%3e");
      left: 2px;
    }
  }
}

body.white {
  .footer {
    background-color: var(--color-bg1);
  }

  .footer-social,
  .footer-icon {
    fill: var(--color-textPrimaryDay);
  }

  .footer-drop {
    background-color: var(--color-bg1);
    -webkit-box-shadow: 4px 4px 16px 0px rgba(24, 26, 32, 0.2);
    -moz-box-shadow: 4px 4px 16px 0px rgba(24, 26, 32, 0.2);
    box-shadow: 4px 4px 16px 0px rgba(24, 26, 32, 0.2);
  }

  .footer-switch {
    background-color: var(--color-DisabledText);
  }

  .footer-input {
    color: var(--color-textPrimaryDay);
    outline: transparent;
    border-color: var(--color-textPrimary);
  }

  .footer-item a:hover {
    color: #c99400;
  }

  .footer-copyright,
  .footer-cookies {
    color: var(--color-textPrimaryDay);
  }

  .footer-cookies:hover {
    color: #c99400;
  }

  .footer-copyright::before {
    background-color: var(--color-line);
  }
}

.login-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  span,
  button,
  a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: #b7bdc6;
    margin: 0 16px;
    font-family: 'BinancePlex';
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: #f0b90b;

      svg{
        path{
          fill: #f0b90b;
        }
      }
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
