main {
  padding-top: 36px;
}

.page-with-sidebar {
  display: flex;
  flex-direction: row;
  padding-top: 64px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .main {
    margin-top: 28px;
    width: calc(100vw - 320px);

    @media (max-width: 1023px) {
      width: calc(100vw - 250px);
    }

    @media (max-width: 767px) {
      width: calc(100vw - 32px);
      padding: 0 16px;
    }

    @media (min-width: 768px) {
      padding: 0 24px;
    }

    @media (min-width: 1024px) {
      padding: 0 32px;
    }
    @media (min-width: 1440px) {
      padding: 0 64px;
    }
    @media (min-width: 1920px) {
      padding: 0 160px;
    }
  }
}

.order-page {
  .main {
    @media (min-width: 1024px) {
      padding: 0 32px;
      margin-top: 32px;
    }

    @media (max-width: 768px) {
      padding: 24px 0 0 16px;
      width: calc(100% - 16px);
    }
  }
}

.order-page--futures {
  .main {
    @media (min-width: 1024px) {
      padding: 0 40px;
      margin-top: 32px;
    }
  }

  .order-not-found {
    &:hover {
      background-color: transparent;
    }
  }
}

.analysis-page {
  .main {
    max-width: 1184px;
    margin: 0 auto;
  }
}

.detailed-link {
  display: flex;
  align-items: center;

  &:hover {
    svg {
      path {
        fill: white;
      }
    }
  }

  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  svg {
    width: 16px;
    height: 16px;

    path {
      fill: var(--color-iconNormal);
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }

  &-icon {
    align-items: center;
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-iconNormal);
    border-radius: 2.5px;
    color: transparent;
    display: inline-flex;
    flex: none;
    font-size: 11.33px;
    justify-content: center;
    margin: 3.335px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &:hover {
    .checkbox-icon {
      border-color: white;
    }
  }

  &.active {
    .checkbox-icon {
      background-color: var(--color-textPrimary);
      border-color: var(--color-textPrimary);
      color: black;
    }
  }

  @media (max-width: 1024px) {
    margin-bottom: 6px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  margin-left: 8px;
  position: relative;
  background-color: #5e6673;
  border-radius: 6px;
  cursor: pointer;

  transition: all 0.25s;

  &::before {
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 2px;
    left: 2px;

    transition: all 0.15s;
  }

  &.active {
    background-color: #fcd535;
  }

  &.active::before {
    left: 14px;
  }
}

.negative {
  color: #ce2b5c !important;
}

.positive {
  color: #80d8ad !important;
}
