.search {
  position: relative;

  &-block {
    position: absolute;
    top: 45px;
    right: 0;
    transform: translate(0, 0);
    width: 368px;
    background-color: var(--color-CardBg);
    border-radius: 0 0 8px 8px;
    border: 1px solid var(--color-Line);
    overflow: hidden;
    z-index: 10;

    &.day {
      background-color: var(--color-bg1);
      -webkit-box-shadow: 4px 4px 16px 0px rgba(24, 26, 32, 0.2);
      -moz-box-shadow: 4px 4px 16px 0px rgba(24, 26, 32, 0.2);
      box-shadow: 4px 4px 16px 0px rgba(24, 26, 32, 0.2);
      border: none;

      .header-icon.static:hover {
        fill: var(--color-Line);
      }

      .initdata-link {
        border-color: var(--color-bg3);
      }

      .search-cancel {
        color: var(--color-textPrimaryDay);
      }

      .search-input {
        color: var(--color-textPrimaryDay);
        outline: transparent;
        border-color: var(--color-textPrimary);

        &:focus {
          border-color: var(--color-textBrand);
        }
      }

      .result::after {
        background-color: var(--color-bg3);
      }

      .result-radio:checked + label {
        color: var(--color-textPrimaryDay);
      }

      .results-item:hover {
        background-color: var(--color-bg3);
      }

      .results {            
        &::-webkit-scrollbar-track {
          background: var(--color-bg1); /* Цвет дорожки */
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: var(--color-DisabledText);
          border-radius: 15px;
          border: 3px solid var(--color-DisabledText); 
        }
      }

      .results-img {
        background-color: var(--color-textPrimary);
      }

      .results-btn:hover .results-icon {
        stroke: var(--color-textPrimaryDay);
      }

      .history-item {
        background-color: var(--color-bg3);
      }
    }
  }

  &-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
  }

  &-form {
    position: relative;
    width: 100%;

    button {
      position: absolute;
      top: 12px;
      left: 13px;
      background-color: transparent;
      width: 20px;
      height: 20px;
    }

    .search-closed {
      display: none;
      top: 13px;
      left: auto;
      right: 8px;
      width: 20px;
      height: 20px;

      &.active {
        display: block;
      }
    }

    input {
      display: block;
      width: calc(100% - 80px);
      background-color: transparent;
      padding: 9px 40px;
      border: 1px solid #474d57;
      border-radius: 8px;
      font-size: 0.875rem;
      line-height: 0.875rem;
      font-family: "BinancePlex", "Arial", sans-serif;
      color: var(--color-textPrimary);
      caret-color: var(--color-textBrand);

      &::placeholder {
        color: var(--color-TertiaryText);
        font-size: 0.875rem;
        line-height: 0.875rem;
      }

      &:focus {
        border-color: var(--color-textBrand);
        outline: transparent;
      }
    }
  }

  &-cancel {
    padding: 0;
    margin-left: 8px;
    background-color: transparent;
    color: var(--color-textPrimary);
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
    font-family: "BinancePlex", "Arial", sans-serif;
  }

  &-icon {
    fill: var(--color-TertiaryText);

    path {
      stroke: var(--color-TertiaryText);
    }
  }

  .initdata {
    padding: 16px;

    h3 {
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1rem;
      color: var(--color-TertiaryText);
      margin-bottom: 12px;
    }

    &-list {
      width: 336px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px 10px;
    }

    &-link {
      display: flex;
      align-items: center;
      border: 1px solid var(--color-Line);
      padding: 12px 16px;
      width: 128px;
      border-radius: 8px;

      &:hover {
        border-color: var(--color-BtnBg);
      }

      svg {
        margin-right: 8px;
      }

      span {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.375rem;
        max-width: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .result {
    padding: 16px 16px 0;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 368px;
      height: 1px;
      background-color: var(--color-Line);
      position: absolute;
      left: 0;
      top: 38px;
    }
    
    &-tabs {
      overflow-x: scroll;
      overflow-y: hidden;
      font-size: 0.875rem;
      line-height: 0.875rem;
      font-weight: 500;
      height: 25px;
      display: flex;
      gap: 16px;
      color: var(--color-TertiaryText);

      li {
        min-width: fit-content;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-radio {
      display: none;

      &:checked + label {
        color: var(--color-textPrimary);
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 15px;
          height: 2px;
          background-color: var(--color-BtnBg);
        }
      }
    }

    label {
      cursor: pointer;
    }
  }

  .results {
    width: 100%;
    height: 483px;
    padding-bottom: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;

    &.open {
      display: block;
    }

    &::-webkit-scrollbar {
      width: 7px; /* Ширина всего элемента навигации */
    }
    
    &::-webkit-scrollbar-track {
      background: var(--color-CardBg); /* Цвет дорожки */
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #5E6673;
      border-radius: 15px;
      border: 3px solid #5E6673; 
    }

    &-title {
      width: 100%;
      margin: 16px 16px 6px;

      position: relative;

      h3 {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1rem;
        color: var(--color-TertiaryText);
      }
    }

    &-item {
      cursor: pointer;
      padding: 12px 16px;

      &:hover {
        background-color: #000;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      width: 100%;

      &.space {
        justify-content: space-between;
      }

      &.start {
        align-items: flex-start;
      }
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      width: 36px;
      height: 36px;
      background-color: var(--color-Line);
      margin-right: 8px;
      

      img {
        display: block;
        width: 20px;
        height: 20px;
      }

      &.big {
        display: block;
        width: 36px;
        height: 36px;
        overflow: hidden;
        background-color: transparent !important;
        margin-right: 16px;
        border-radius: none;

        img {
          display: block;
          width: 36px;
          height: auto;
          background-color: transparent !important;
        }
      }

      &.medium {
        display: block;
        width: 24px;
        height: 24px;
        overflow: hidden;
        background-color: transparent !important;
        border-radius: none;

        img {
          width: 24px;
          height: auto;
        }
      }
    }

    &-btn {
      background-color: transparent;
      width: 20px;
      height: 20px;

      position: absolute;
      top: 0;
      right: 34px;

      &:hover .results-icon {
        stroke: var(--color-textPrimary);
      }
    }

    &-icon {
      fill: none;
      stroke: var(--color-TertiaryText);
    }

    p {
      max-width: 282px;
      text-wrap: wrap;
      font-size: .875rem;
      font-weight: 500;
      line-height: 1.375rem;
    }

    &-caption {
      font-size: 0.75rem;
      line-height: 1rem;
      color: var(--color-TertiaryText);
    }

    &-left {
      display: flex;
      align-items: center;

      &.column {
        flex-direction: column;
        align-items: flex-start;
      }

      &__gray {
        color: var(--color-TertiaryText);
        font-weight: 400;

        &.little {
          font-size: .75rem !important;
          line-height: 1rem !important;
        }
      }
    }

    &-right  {
      text-align: end;
    }

    &-course.green {
      color: var(--color-textBuy);
    }

    &-per {
      font-size: .75rem !important;
      line-height: 1rem !important;
      color: var(--color-textBuy);
      font-weight: 400;

      &.red {
        color: var(--color-textSell);
        font-weight: 400;
      }

      &.gray {
        color: var(--color-textThird);
      }
    }
  }

  .history {
    padding: 16px;
    padding-bottom: 8px;
    width: calc(100% - 32px);

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;

      h2 {
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

   &-btn {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 0;
    cursor: pointer;
   }

   &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 8px;
   }

   &-item {
    color: var(--color-PrimaryText);
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    background-color: var(--color-Input);
    border-radius: 5px;
    padding: 0 10px;
    max-width: calc(48% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 24px;
    line-height: 24px !important;
    vertical-align: middle;
   }
  }
}
