.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent;
}

.btn-web {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 32px;
  border-radius: 5px;
  font-weight: 500;
  font-family: "BinancePlex", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 100%;
  color: var(--color-textPrimary);

  &:hover {
    opacity: .8;
  }

  &.gray {
    background-color: var(--color-Line);

    &.day {
      background-color: var(--color-line);
      color: var(--color-Line);
    }
  }

  &.yellow {
    background-color: var(--color-BtnBg);
    color: var(--color-TextOnYellow);

    .btn-web__icon {
      margin-top: 5px;
      fill:black;
      stroke: black;
    }
  }
}

.btn-yellow {
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 32px;
  border-radius: 5px;
  font-weight: 500;
  font-family: "BinancePlex", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 100%;
  background-color: var(--color-BtnBg);
  color: var(--color-TextOnYellow);

  &:hover {
    opacity: .8;
  }
}

#ic-message {
  position: relative;

  .btn-icon__mark {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-BtnBg);
    position: absolute;
    top: 1px;
    right: 2px;
  }
}