@import "./reset";
@import "./color";
@import "./fonts";
@import "./sections";
@import "./modals";
@import "./sidebar";
@import "./calendar";
@import "./tabs";
@import "./orders";
@import "./main-page";
@import "./select";
@import "./footer";
@import "./header";
@import "./search";
@import "./ui";
@import "./qrcode";
@import "./checkbox";
@import "./global";